# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives**:

- List popular languages that Data Scientists use

- List commonly used libraries used by Data Scientists

- List some open source data science implementation tools 

- Explain the workings of Jupyter Notebooks, RStudio and Github

**Some of the popular languages that Data Scientists use are:**

1.Python

2.R

3.SQL

**Some of the commonly used libraries used by Data Scientists include:**

1. Pandas

2. Matplotlib

3. Numpy

4. Scikit-learn

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks  |
| RStudio            |
| Apache Spark       |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.

In [6]:
200/60

3.3333333333333335

**Author:**

Aditya Vinod Nagrale